@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
}
body{
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: lightslategray;
}
h1{
    font-size: 100px;
    color: lightslategray; 
    font-weight: 800;
    position: relative;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
h1::before {
    content: 'WEB DESIGN';
    color: coral;
    text-shadow: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    border-right: 20px solid coral;
    white-space: nowrap;
    animation: move 3s linear infinite;
}
@keyframes move {
    to {
        width: 100%;
    }
}
